<div id="config" class="modal">
    <div class="modal-content">

        <div class="row">
            <form class="col s12" action="/config" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Blocking Time" name="blockingTime" type="number">
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="# Players" name="noOfPlayers" type="number">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Min Players" name="minPlayers" type="number">
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Max Players" name="maxPlayers" type="number">
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <input class="btn modal-close" type="submit" value="submit">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>