<!DOCTYPE html>
<html>
<% include ../common/head.ejs %>
<body>

<% include ../common/navigation.ejs %>

<% include ../common/config.ejs %>

<% include userForm.ejs %>

<div class="row" id="home-page-body"></div>

<% include configModal.ejs %>

</body>
</html>

<script src="/javascripts/clientSocketCode.js" type="text/javascript"></script>
