<!DOCTYPE html>
<html>
<% include ../common/head.ejs %>
<body>

<% include ../common/navigation.ejs %>

<% include userForm.ejs %>

<div class="row" id="home-page-body"></div>

<% include ../common/footer.ejs %>

</body>
</html>

<!--<script src="/javascripts/functions.js" type="text/javascript"></script>-->
<script src="/javascripts/clientSocketCode.js" type="text/javascript"></script>
