<div id="main" class="container">
    <div class="row">
        <div class="col m4 l4">
            <span>Online users</span>
            <ul id="users">
                <li></li>
            </ul>
        </div>
        <div class="col m8 l8">
            <div class="chat" id="chat"></div>
            <form id="messageForm">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="message" class="materialize-textarea"></textarea>
                        <label for="message">Textarea</label>
                    </div>
                </div>
                <input class="btn" type="submit" value="submit">
            </form>
        </div>
    </div>
</div>