<div class="row">
    <div class="col s12 m6">
        <div class="card grey lighten-4">
            <div class="card-content black-text">
                <div class="row">
                    <form class="col s12 m12 l12" id="userForm">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Placeholder" id="userName" type="text" class="validate">
                                <label for="userName">User name</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="submit" class="btn">
                            </div>
                        </div>
                    </form>
                    <button class="btn" id="createButton">create a new game</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card grey lighten-4">
            <div class="card-content black-text">
                <div class="row">Player info</div>
                <div class="divider"></div>
                <strong style="margin-right: 20px;">Name: </strong><span id="player-name"></span><br>
                <strong style="margin-right: 20px;">Score: </strong><span id="player-score"></span><br>
                <strong style="margin-right: 20px;">Color: </strong><button class="btn" id="player-color"></button>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
