<div class="row" style="margin: 10px;">
    <span style="float: left"><strong>Configuration</strong></span>
    <span style="margin: 100px;"><strong>Blocking Time: </strong><span id="blockingTime"><%=blockingTime%></span>ms</span>
</div>