<div class="row" style="margin: 10px;">
    <span style="margin: 100px;"><strong>Blocking Time: </strong><span id="blockingTime"><%=blockingTime%></span></span>
    <span style="margin: 100px;"><strong>Min Players: </strong><span id="minPlayer"><%=minPlayer%></span></span>
    <span style="margin: 100px;"><strong>Max Players: </strong><span id="maxPlayer"><%=maxPlayer%></span></span>
    <span style="margin: 100px;"><strong>players: </strong><span id="players"><%=players%></span></span>
</div>