<nav class="blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Finomena</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#config">Config</a></li>
            <li><a href="https://www.linkedin.com/in/somveer-payal-a484278b/" target="_blank">Somveer</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#config">Config</a></li>
            <li><a href="https://www.linkedin.com/in/somveer-payal-a484278b/" target="_blank">Somveer</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>